<h1>Login</h1>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

<hr>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button>Login</button>
</form>